apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-service
  annotations:
    nginx.ingress.kubernetes.io/use-regex: 'true'
    nginx.ingress.kubernetes.io/ssl-redirect: 'false'
spec:
  ingressClassName: nginx
  rules:
    - host: ecom.dev
      http:
        paths:
          - path: /api/users/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: auth-srv
                port:
                  number: 3000
          - path: /api/product/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: product-srv
                port:
                  number: 4000
          - path: /api/review/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: review-service
                port:
                  number: 3000
          - path: /api/order/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: order-srv
                port:
                  number: 4000
          - path: /api/cart/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: cart-srv
                port:
                  number: 4000
          - path: /api/etl/?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: etl-srv
                port:
                  number: 4000
          - path: /?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: mfe-host-srv
                port:
                  number: 3000
    - host: mfe-user.ecom.dev
      http:
        paths:
          - path: /?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: mfe-user-srv
                port:
                  number: 3000
    - host: mfe-dashboard.ecom.dev
      http:
        paths:
          - path: /?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: mfe-dashboard-srv
                port:
                  number: 3000
    - host: mfe-shared.ecom.dev
      http:
        paths:
          - path: /?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: mfe-shared-srv
                port:
                  number: 3000
    - host: admin.ecom.dev
      http:
        paths:
          - path: /?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: mfe-host-srv
                port:
                  number: 3000
    - host: kibana.ecom.local
      http:
        paths:
          - path: /?(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: kibana-srv
                port:
                  number: 5601
