{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^react$",
		"^react-dom$",
		"<THIRD_PARTY_MODULES>",
		"^@/(.*)$",
		"^[.]/[^/]+$",
		"^[.]/.*",
		"^[./](?!.*\\.styles$).*",
		"^[./].*\\.styles$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"endOfLine": "auto",
	"useTabs": true
}
